@import 'normalize.css';
@import 'screen-sizes';

@import 'colors';
@import 'fonts';

:root {
  @include colors;
  @include fonts;

  --grid-rows: 4;
  --grid-columns: 3;
  --timer: '';
  --win: '0';
}

@import 'body';
@import 'greeter';
@import 'main';
@import 'count-down';
