@import 'type-scales';

body {
  display: flex;
  flex-flow: column;
  align-items: center;

  font-size: var(--text-base-size);
  font-family: var(--font-primary);
  font-weight: var(--font-weight);
  color: var(--font-secondary);

  @include type-scales;
}
