@mixin colors {
  --fire-engine-red: #ce2029;
  --bluish-purple: #743ad5;
  --dimorphotheca-magenta: #d53a9d;
  --neon-pink: #f535aa;
  --light-plum: #9d5783;
  --storm-dust: #646463;
  --boulder: #777777;
  --dim-gray: #696969;
  --bobo-gray: #b0b0b0;
  --black-eel: #463e3f;
}
