@mixin colors {
  --fire-engine-red: #ce2029;
  --atlantis: #97cd2d;
  --light-pea-green: #c4fe82;
  --titanium-yellow: #eee600;
  --golden-rod: #edda74;
  --rebecca-purple: #663399;
  --bluish-purple: #743ad5;
  --dodger-blue: #1e90ff;
  --dimorphotheca-magenta: #d53a9d;
  --neon-pink: #f535aa;
  --light-plum: #9d5783;
  --bobo-gray: #b0b0b0;
  --boulder: #777777;
  --storm-dust: #646463;
  --black-eel: #463e3f;
}
