header {
  border: 10px solid;
  border-image-slice: 1;
  border-width: .5em;
  border-image-source: linear-gradient(to left, var(--bluish-purple), var(--dimorphotheca-magenta));

  h1 {
    padding: 1rem 3rem 0;
  }

  p {
    text-align: center;
    padding-bottom: 1rem;
  }
}
