@import '../styles/mixins/text-fade-in';
@import '../styles/mixins/shinny-button';
@import '../styles/mixins/grab-cursor';

@import 'image/url-input.scss';
@import 'image/image-buttons.scss';
@import 'grid/grid.scss';

body > main {
  display: block;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  min-height: 100vh;
  padding-bottom: 5em;

  h2 {
    @include text-fade-in;
    padding-top: 3rem;
  }

  section {
    margin: auto;
    text-align: center;
    line-height: 2rem;
    padding-bottom: 1rem;

    p {
      @include text-fade-in;
      margin: 0;
      font-size: 1.125rem;
    }
  }

  #start {
    @include shinny-button;
    display: inline-block;
  }
}
