@import '../styles/mixins/text-fade-in';
@import '../styles/mixins/shinny-button';
@import '../styles/mixins/grab-cursor';

body > main {
  display: block;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  min-height: 100vh;
  padding-bottom: 5em;

  h2 {
    @include text-fade-in;
    padding-top: 3rem;
  }

  section {
    margin: auto;
    text-align: center;
    line-height: 2rem;
    padding-bottom: 1rem;

    p {
      @include text-fade-in;
      margin: 0;
      font-size: 1.125rem;
    }

    button {
      font-size: small;

      @include text-fade-in;
      vertical-align: middle;

      padding: 0.375rem 0.5rem;
      border: 1px solid var(--bobo-gray);
      font-family: var(--font-secondary);
      color: var(--dimorphotheca-magenta);
      line-height: 0.75rem;
      background-color: white;
      cursor: pointer;

      &:not(:last-of-type) {
        margin-right: 0.25rem;
      }

      @include sm {
        line-height: 1rem;
      }
    }
  }

  input {
    @include text-fade-in;
    vertical-align: middle;
    line-height: 1rem;
    padding: 0.375rem 0.5rem;
    border: 1px solid var(--bobo-gray);
    font-family: var(--font-secondary);
    font-size: small;
  }

  label {
    @include text-fade-in;
    font-size: 1.125rem;
    vertical-align: middle;
    margin-right: 0.5rem;
    font-weight: bolder;
    line-height: 2rem;

    &[for='grid-rows'],
    &[for='grid-columns'] {
      font-size: 1rem;
    }
  }

  #image-url {
    min-width: 40ch;
    margin-right: 0.25rem;
  }

  #grid-columns,
  #grid-rows {
    margin-right: 1rem;
    max-width: 5ch;
  }

  #canvas {
    position: relative;
    @include text-fade-in;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;

    border: 1px solid;
    border-width: 1px;
    border-image-slice: 1;
    border-image-source: linear-gradient(
      180deg,
      rgba(#1e90ff, 1),
      rgba(#1e90ff, 1)
    );

    background-image: var(--image-url);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 80vw;
    max-height: 60vmin;

    display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);

    area {
      @include grab-cursor;
      font-size: 1rem;
      color: white;

      border: 1px solid rgba(#1e90ff, 0.5);

      background-image: var(--image-url);
      background-clip: border-box;
      border-image-slice: 1;
      transition: backgroundColor 0.1s ease-out;
      background-blend-mode: lighten;

      &:hover {
        background-color: rgba(30, 144, 255, 0.5);
      }
    }

    &:after {
      content: var(--timer);
      color: var(--neon-pink);
      font-size: 3rem;
      font-family: var(--font-secondary);

      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      pointer-events: none;
      opacity: 0.7;
    }
  }

  button.next {
    @include shinny-button;
    display: inline-block;
  }
}
