@import '../styles/mixins/text-fade-in';
@import '../styles/mixins/shinny-button';

header {
  min-height: 100vh;
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  mix-blend-mode: overlay;

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  h1 {
    @include hero-fade-in;
    text-align: center;
    padding-top: 4rem;
    mix-blend-mode: color-dodge;
  }

  p {
    @include hero-fade-in;
    $transition-hover: opacity 0.3s ease-in;
    max-width: 80%;
    margin: auto;
    mix-blend-mode: color-dodge;
    text-align: center;
    color: var(--storm-dust);
    border: 1px solid;
    border-width: 1px;
    padding: 0.375rem 0.675rem 0.5rem;
    border-image-slice: 1;
    border-image-source: linear-gradient(
      var(--dimorphotheca-magenta),
      var(--rebecca-purple)
    );
    opacity: 0.6;
    transition: $transition-hover;

    &:hover {
      opacity: 1;
      transition: $transition-hover;
    }

    @include sm {
      font-size: 80%;
    }

    @include lg {
      max-width: $screen-sm-min;
      margin: 1em auto 2em;
      line-height: 1.375em;
      font-size: 75%;
    }

    a {
      text-decoration: none;
      color: dodgerblue;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  button {
    @include shinny-button;
  }
}
