@import 'styles/normalize.css';
@import 'styles/screen-sizes';

@import 'styles/colors';
@import 'styles/fonts';

:root {
  @include colors;
  @include fonts;

  --grid-rows: 2;
  --grid-columns: 2;
  --timer: '';
  --win: '0';
  --image-url: '';
}

@import 'styles/body';
@import 'greeter/greeter';
@import 'main/main';
@import 'game/countdown';
