@mixin text-fade-in {
  animation: blackRainbow ease 3s;

  @keyframes blackRainbow {
    from {
      color: var(--fire-engine-red);
      opacity: 0;
    }
    to {
      color: inherit;
      opacity: 1;
    }
  }
}

@mixin hero-fade-in {
  animation: slowlyAppear ease 5s;

  @keyframes slowlyAppear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
